@{
    ViewBag.Title = "Oplaty";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <p class="lead">Teks ogolny</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>